* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 20px 15px;
    display: flex;
    flex-flow: column;
    gap: 10px;
}

h1 {
    text-align: center;
}

form {
    align-self: center;
    /* border: 2px solid red; */
}

#submit-button {
    width: min(5rem);
    height: min(1.5rem);
}

ul li {
    list-style-type: none;
    padding: 10px;
    border: 1px gray solid;
    margin: 5px;
}

#convert {
    margin: 0 auto;
    display: none;
    width: min(5rem);
    height: min(1.5rem);
}